.gutter
{
    z-index: 2;
}

.scivi_fsgraph_node_label 
{
    position: absolute;
    pointer-events: none;
    color: black;
    z-index: 0;
    font-size: 16px;
}

#scivi_fsgraph_a
{
    display: flex;
    flex-direction: column;
    z-index: 1;
    min-height: 0;
}

#scivi_fsgraph_b
{
    z-index: 10;
}

#scivi_fsgraph_rotate_bar_container
{
    padding: 10px;
    z-index: 2;
    background-color: white;
}

#scivi_fsgraph_view
{
    flex: 1;
    display: flex;
    min-height: 0;
    position: relative;
    overflow: hidden;
}


#scivi_fsgraph_stateline_container
{
    padding: 20px;
    z-index: 2;
    background-color: white;
}

.scivi_fsgraph_stateline_label
{
    text-align: center;
    position: absolute;
}

#scivi_fsgraph_tabs
{
    /* TODO: WHY?! */
    height: 99%;
}

#scivi_fsgraph_settings_accordion
{
    /* TODO: WHY?! */
    height: calc(100% - 5px);
}

#scivi_fsgraph_filters_control
{
    margin-top: 10px;
}

#scivi_fsgraph_filters_control > ul, #scivi_fsgraph_settings_stateview > ul, ul.pseudo-list
{
    margin: unset;
    margin-top: 0.5em;
    list-style-type: none;
    padding-left: 0px;
}

#scivi_fsgraph_filters_control .ui-slider, #scivi_fsgraph_settings_stateview .ui-slider, ul.pseudo-list .ui-slider, ul.pseudo-list input[type=checkbox]
{
    margin: 10px;
}

#scivi_fsgraph_settings_stateview
{
    margin: 1em 0em;
}

#scivi_fsgraph_settings_nodelabel > input
{
    width: 3em;
    margin-right: 10px;
}

#scivi_fsgraph_nodelist_container > *
{
    display: inline-block;
    margin-top: 0.5em;
}

#scivi_fsgraph_nodelist_container li
{
    margin-top: 0.5em;
}

#scivi_fsgraph_list > div > span
{
    display: block;
}
