.gutter
{
    z-index: 2;
}

.scivi_fsgraph_node_label 
{
    position: absolute;
    pointer-events: none;
    color: black;
    z-index: 0;
    font-size: 16px;
}

#scivi_fsgraph_a
{
    display: flex;
    flex-direction: column;
    z-index: 1;
    min-height: 0;
}

#scivi_fsgraph_b
{
    z-index: 10;
}

#scivi_fsgraph_rotate_bar_container
{
    padding: 10px;
    z-index: 2;
    background-color: white;
}

#scivi_fsgraph_view
{
    flex: 1;
    display: flex;
    min-height: 0;
}


#scivi_fsgraph_stateline_container
{
    padding: 20px;
    z-index: 2;
    background-color: white;
}

#scivi_fsgraph_filters_control
{
    margin-top: 10px;
}

#scivi_fsgraph_filters_control > ul
{
    margin: unset;
    margin-top: 0.5em;
    list-style-type: none;
    padding-left: 0px;
}

#scivi_fsgraph_filters_control .ui-slider
{
    margin: 10px;
}


