.scivi_fsgraph_node_label 
{
    position: absolute;
    pointer-events: none;
    color: black;
    z-index: 0;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    opacity: 0.5;
    border: 2px #000000aa solid;
    border-radius: 1px;
    background-color: #ffffff;
    padding: 0px 0px;
    font-family: Arial,Helvetica,sans-serif;
}
