.tooltip {
    position: absolute;
    pointer-events: none;
    z-index: 500;
    border: 2px #000000aa solid;
    border-radius: 4px;
    background-color: #fefefefe;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 512px;
}